# Dependencies
node_modules/

# Environment variables
.env

# SSL certificates
ca.pem
*.pem

# Uploads
uploads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Database files
*.sql
*.db